<ion-view title="Login" id="page5">
  <ion-content padding="true" style="background: url(img/fTC7KjtvQGy0du1UlS7w_bg.jpg) no-repeat center;background-size:cover;" class="has-header">
    <form id="login-form1" class="list">
      <div class="spacer" style="height: 40px;"></div>
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <span class="input-label">email</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.mapaDeSeguranA_tab4" id="login-button20" class="button button-dark  button-block">Logar</a>
      <a href-inappbrowser="/signup" id="login-button21" class="button button-light  button-block button-clear">Criar uma conta</a>
    </form>
  </ion-content>
</ion-view>