<ion-view title="Mapa de Segurança" id="page2">
  <ion-content padding="true" style="background: url(img/X4yyqknCTaiCG1UOU5o6_bg2.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 80px;"></div>
    <a ui-sref="tabsController.mapa" id="mapaDeSeguranA-button13" class="button button-light  button-block button-outline icon-left ion-ios-location">Minha Localização</a>
    <button id="mapaDeSeguranA-button14" class="button button-light  button-block button-outline icon-left ion-loop">Meus Registros</button>
    <button id="mapaDeSeguranA-button15" class="button button-light  button-block button-outline icon-left ion-ios-pie-outline">Índices</button>
    <div id="mapaDeSeguranA-button-bar1" class="button-bar"></div>
    <div id="mapaDeSeguranA-button-bar2" class="button-bar">
      <button id="mapaDeSeguranA-button7" class="button button-light  button-block button-outline icon-left ion-android-globe">Global</button>
      <button id="mapaDeSeguranA-button8" class="button button-light  button-block button-outline icon-left ion-alert">Denúncias</button>
    </div>
    <div id="mapaDeSeguranA-button-bar4" class="button-bar">
      <button id="mapaDeSeguranA-button17" class="button button-light  button-block button-outline icon-left ion-gear-b">Configurações</button>
      <button id="mapaDeSeguranA-button18" class="button button-light  button-block button-outline icon-left ion-android-notifications-none">Alertas</button>
      <button id="mapaDeSeguranA-button19" class="button button-light  button-block button-outline icon-left ion-ios-telephone">Uteis</button>
    </div>
    <div id="mapaDeSeguranA-button-bar3" class="button-bar"></div>
  </ion-content>
</ion-view>